/src/main/webapp/META-INF/MANIFEST.MF
#idea
#########
/.idea
/*.iml
/product
/web/*
/src/main/webapp/META-INF/
!/web/WEB-INF/web.xml
!/web/index.html

!/src/main/webapp/WEB-INF/web.xml
!/src/main/webapp/index.html
!/src/main/webapp/file/