<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- 加载jdbc.properties -->

    <!-- 方式一 -->
    <util:properties id="jdbc" location="classpath:jdbc-basic.properties">
    </util:properties>

    <!-- 方式二 -->
    <!--<context:property-placeholder location="classpath:jdbc-basic.properties" ignore-unresolvable="true"/>-->

    <!-- 声明连接池 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="#{jdbc.driver}"></property>
        <property name="url" value="#{jdbc.url}"></property>
        <property name="username" value="#{jdbc.username}"></property>
        <property name="password" value="#{jdbc.password}"></property>
    </bean>
    <!-- 配置Session工厂 -->
    <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 注入DataSource -->
        <property name="dataSource" ref="dataSource"></property>
        <!-- 声明需要加载的mapper.xml, 该bean被创建之后会自动加载这些文件 -->
        <property name="mapperLocations" value="classpath:win/likie/mvc/mapper/*.xml">
        </property>
    </bean>
</beans>